flask
flask-sqlalchemy
flask-login
flask-socketio
flask-cors
flask-limiter
flask-mail
flask-migrate
flask-wtf
fedapay==0.3.0
gevent
eventlet
gunicorn
psycopg2-binary
requests
python-dotenv
pillow
qrcode