flask
flask-sqlalchemy
flask-login
flask-socketio
flask-cors
flask-limiter
flask-mail
flask-migrate
flask-wtf
https://github.com/fedapay/fedapay-python/archive/master.zip
gevent
eventlet
gunicorn
psycopg2-binary
requests
python-dotenv
pillow
qrcode